@font-face {
    font-family: "Poppins";
    src: url("/font/Poppins-Light.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #252323;
    margin: 20px;
    color: white;
}

.h2 {
    color: white;
    font-size: 2em;
}
.container {
    margin-left: 25%;
    margin-right: 25%;
}

.history-list {
    list-style: none;
    padding: 0;
}

#historylist {
    font-size: 20px;
}
.history-item {
    background: linear-gradient(to bottom right, #AD36CB, #333333);
    margin: 8px 0;
    padding: 10px;
    border-radius: 5px;
}
.timestamp {
    font-size: 12px;
    color: black;
    text-align: left;
}

@media (max-width: 1200px) {
    .container {
        margin-left: 15%;
        margin-right: 15%;
    }
}

@media (max-width: 600px) {
    .container {
        margin-left: 5%;
        margin-right: 5%;
    }
}
